# Create Script Project

Create the tables needed to start the database.

In [23]:
-- Create Table
CREATE DATABASE UniDB;
GO

In [24]:
-- Table Professoren
USE UniDB;

CREATE TABLE Professoren(
    ProfessorID INT IDENTITY(1,1),
    Vorname VARCHAR(100) NOT NULL,
    Nachname VARCHAR(100) NOT NULL,
    Geburtsort VARCHAR(100),
    Geburtsdatum DATE NOT NULL,
    Raum INT NOT NULL
    CONSTRAINT pk_Professoren PRIMARY KEY (ProfessorID)
);

In [25]:
-- Table Studenten
USE UniDB;

CREATE TABLE Studenten(
    MatrikelNr VARCHAR(10),
    Vorname VARCHAR(100) NOT NULL,
    Nachname VARCHAR(100) NOT NULL,
    Studienbeginn DATE NOT NULL,
    Wohnort VARCHAR(100),
    CONSTRAINT pk_Studenten PRIMARY KEY (MatrikelNr),
);

In [26]:
-- Table Assistenten
USE UniDB;

CREATE TABLE Assistenten(
    AssistentenID INT IDENTITY(1,1),
    Vorname VARCHAR(100) NOT NULL,
    Nachname VARCHAR(100) NOT NULL,
    Geburtsdatum DATE NOT NULL,
    ProfessorID INT,
    CONSTRAINT pk_Assistenten PRIMARY KEY (AssistentenID)
);

In [27]:
-- Table Vorlesung
USE UniDB;

CREATE TABLE Vorlesung(
    VorlesungsNr INT IDENTITY(1,1),
    Vorlesung VARCHAR(50) NOT NULL,
    ProfessorID INT,
    CONSTRAINT pk_Vorlesung PRIMARY KEY (VorlesungsNr),
    CONSTRAINT fk_VorlesungProfessor FOREIGN KEY (ProfessorID) REFERENCES Professoren(ProfessorID)
);

In [28]:
-- Table Vorlesungsbesuche
USE UniDB;

CREATE TABLE Vorlesungsbesuche(
    MatrikelNr VARCHAR(10),
    VorlesungsNr INT,
    CONSTRAINT pk_Vorlesungsbesuche PRIMARY KEY (MatrikelNr, VorlesungsNr),
    CONSTRAINT fk_VorlesungsbesucheStudenten FOREIGN KEY (MatrikelNr) REFERENCES Studenten(MatrikelNr) ON DELETE CASCADE,
    CONSTRAINT fk_VorlesungsbesucheVorlesung FOREIGN KEY (VorlesungsNr) REFERENCES Vorlesung(VorlesungsNr)
);

In [29]:
-- Table Pruefung
USE UniDB;

CREATE TABLE Pruefung(
    PruefungID INT IDENTITY(1,1),
    MatrikelNr VARCHAR(10),
    VorlesungsNr INT,
    ProfessorID INT,
    Termin DATE,
    Note DECIMAL(2,1),
    CONSTRAINT pk_Pruefung PRIMARY KEY (PruefungID),
    CONSTRAINT fk_PruefungStudent FOREIGN KEY (MatrikelNr) REFERENCES Studenten(MatrikelNr) ON DELETE CASCADE,
    CONSTRAINT fk_PruefungVorlesung FOREIGN KEY (VorlesungsNr) REFERENCES Vorlesung(VorlesungsNr),
    CONSTRAINT fk_PruefungProfessor FOREIGN KEY (ProfessorID) REFERENCES Professoren(ProfessorID)
);

In [30]:
-- Table Voraussetzung
USE UniDB;

CREATE TABLE [dbo].[Voraussetzungen](
    [VorlesungID] [int] NOT NULL,
    [VoraussetzungID] [int] NOT NULL,
    CONSTRAINT [pk_Voraussetzungen] PRIMARY KEY ([VorlesungID], [VoraussetzungID]),
    CONSTRAINT [fk_Voraussetzungen_Vorlesungen1] FOREIGN KEY ([VorlesungID]) REFERENCES [dbo].[Vorlesung]([VorlesungsNr]),
    CONSTRAINT [fk_Voraussetzungen_Vorlesungen2] FOREIGN KEY ([VoraussetzungID]) REFERENCES [dbo].[Vorlesung]([VorlesungsNr])
);

Inserting the data in databank.

In [31]:
-- Inserting Data Professoren
USE UniDB;

INSERT INTO Professoren (Vorname, Nachname, Geburtsort, Geburtsdatum, Raum) 
VALUES
('Albert', 'Einstein', 'Ulm', '1879-03-14', '14'),
('Marie', 'Curie', 'Warschau', '1867-11-07', '12'),
('Peter', 'Von Matt', 'Luzern', '1937-05-20', '8'),
('Nikola', 'Tesla', 'Smiljan', '1856-07-10', '13'),
('Wilhelm Conrad', 'Röntgen', 'Lennep', '1845-03-27', '10'),
('Jean-Paul', 'Sartre', 'Paris', '1905-06-21', '1'),
('Jacobus', 'van ''t Hoff', 'Rotterdam', '1852-08-30', '3');

In [32]:
-- Inserting Data Student
USE UniDB;

INSERT INTO Studenten (MatrikelNr, Vorname, Nachname, Studienbeginn, Wohnort)
VALUES
('09-4845-0', 'Eliane', 'Burri', '2019-10-01', '3005 Bern'),
('12-5776-4', 'Guido', 'Duss', '2019-10-01', '4500 Solothurn'),
('09-7270-8', 'Gertrud', 'Zollinger', '2019-10-01', '3600 Thun'),
('08-5694-8', 'Giorgio', 'Antonelli', '2018-10-01', '6204 Sempach'),
('13-3963-7', 'Miguel', 'Sanchez', '2019-10-01', NULL),
('09-6537-7', 'Zoran', 'Stefanovski', '2019-10-01', '3000 Bern'),
('10-4336-3', 'Luis', 'Prieto', '2019-10-01', '4000 Basel'),
('13-4372-1', 'Martin', 'Isler', '2019-10-01', NULL),
('09-1079-4', 'Paolo', 'Di Lavello', '2019-10-01', '5400 Baden'),
('10-5068-5', 'Rolf', 'Meier', '2019-10-01', '5430 Wettingen'),
('09-9370-0', 'Marco', 'Maggi', '2019-10-01', '8918 Unterlunkhofen'),
('09-0523-5', 'Heike', 'Kurmann', '2019-10-01', '6280 Hochdorf'),
('09-9376-6', 'Lelzim', 'Krasniqi', '2019-10-01', '2905 Courtedoux'),
('14-0556-8', 'Jean-Paul', 'Léchenne', '2019-10-01', '4500 Solothurn'),
('09-0665-1', 'Roger', 'Détraz', '2017-10-01', '3215 Lurtigen'),
('11-8456-6', 'Hans', 'Dubach', '2018-10-01', '3000 Bern'),
('10-3201-8', 'Yvonne', 'Keller', '2019-10-01', NULL),
('12-0948-3', 'Priska', 'Weber', '2019-10-01', '4125 Riehen'),
('13-3225-2', 'Heidi', 'Dubuis', '2019-10-01', '6213 Knutwil'),
('13-5660-2', 'Slobodan', 'Stojanovic', '2019-10-01', '4132 Muttenz'),
('07-0633-6', 'Bruno', 'Zobrist', '2018-10-01', '5242 Birr'),
('10-1471-6', 'Slobodanka', 'Babaja', '2019-10-01', '4600 Olten'),
('10-2466-6', 'Roger', 'Gugler', '2018-10-01', '3400 Burgdorf'),
('13-3704-2', 'Marian', 'Genkinger', '2019-10-01', NULL),
('12-8867-9', 'Michele', 'Dell '' Amore', '2019-10-01', '4900 Langenthal');

In [33]:
-- Inserting Data Assistenten
USE UniDB;

INSERT INTO Assistenten (Vorname, Nachname, Geburtsdatum, ProfessorID)
VALUES
('Lionel', 'Messi', '1987-06-24', NULL),
('Xherdan', 'Shaqiri', '1991-10-10', 4),
('Sami', 'Khedira', '1987-04-04', 3),
('Cristiano', 'Ronaldo', '1985-02-05', 3),
('Wayne', 'Rooney', '1985-10-24', NULL),
('Arjen', 'Robben', '1984-01-23', 7),
('Andrea', 'Pirlo', '1979-05-19', 1),
('Robert', 'Lewandowski', '1988-08-21', 3),
('Luis', 'Suàrez', '1987-01-24', 5),
('Alexis', 'Sanchez', '1988-12-19', 2)

In [34]:
-- Inserting Data Vorlesungen
USE UniDB;

INSERT INTO Vorlesung (Vorlesung, ProfessorID)
VALUES
('Ethik', 3),
('Elektrotechnik', 4),
('Sprachtheorie', 3),
('Radiologie', 5),
('Allgemeine Relativitätstheorie', 1),
('Quantenphysik', 1),
('Kinetik', 7),
('Literaturgeschichte', 3),
('Astrophysik', 1),
('Biochemie', 7),
('Physikalische Chemie', 2)

In [35]:
-- Inserting Data Voraussetzung
USE UniDB;

INSERT Voraussetzungen (VorlesungID, VoraussetzungID)
VALUES 
(4,2),
(6,4);

In [36]:
-- Inserting Data Pruefung
USE UniDB;

INSERT INTO [dbo].[Pruefung] ([MatrikelNr], [VorlesungsNr], [ProfessorID], [Termin], [Note])
VALUES 
('12-8867-9', (SELECT VorlesungsNr FROM Vorlesung WHERE Vorlesung = 'Ethik'), (SELECT ProfessorID FROM Professoren WHERE Vorname = 'Jean-Paul' AND Nachname = 'Sartre'), NULL, NULL),
('13-5660-2', (SELECT VorlesungsNr FROM Vorlesung WHERE Vorlesung = 'Kinetik'), (SELECT ProfessorID FROM Professoren WHERE Vorname = 'Jacobus' AND Nachname = 'van ''t Hoff'), NULL, NULL),
('09-4845-0', (SELECT VorlesungsNr FROM Vorlesung WHERE Vorlesung = 'Elektrotechnik'), (SELECT ProfessorID FROM Professoren WHERE Vorname = 'Nikola' AND Nachname = 'Tesla'), '2020-10-25 00:00', 6.0),
('09-4845-0', (SELECT VorlesungsNr FROM Vorlesung WHERE Vorlesung = 'Radiologie'), (SELECT ProfessorID FROM Professoren WHERE Vorname = 'Marie' AND Nachname = 'Curie'), NULL, NULL),
('09-9370-0', (SELECT VorlesungsNr FROM Vorlesung WHERE Vorlesung = 'Literaturgeschichte'), (SELECT ProfessorID FROM Professoren WHERE Vorname = 'Peter' AND Nachname = 'Von Matt'), '2020-03-03 15:30', 4.0),
('09-0665-1', (SELECT VorlesungsNr FROM Vorlesung WHERE Vorlesung = 'Kinetik'), (SELECT ProfessorID FROM Professoren WHERE Vorname = 'Jacobus' AND Nachname = 'van ''t Hoff'), '2020-05-28 10:00', 5.5),
('10-3201-8', (SELECT VorlesungsNr FROM Vorlesung WHERE Vorlesung = 'Kinetik'), (SELECT ProfessorID FROM Professoren WHERE Vorname = 'Jacobus' AND Nachname = 'van ''t Hoff'), '2020-05-30 10:00', 2.5),
('08-5694-8', (SELECT VorlesungsNr FROM Vorlesung WHERE Vorlesung = 'Literaturgeschichte'), (SELECT ProfessorID FROM Professoren WHERE Vorname = 'Peter' AND Nachname = 'Von Matt'), NULL, NULL),
('13-3963-7', (SELECT VorlesungsNr FROM Vorlesung WHERE Vorlesung = 'Literaturgeschichte'), (SELECT ProfessorID FROM Professoren WHERE Vorname = 'Peter' AND Nachname = 'Von Matt'), '2021-05-27 09:00', 3.5),
('13-3963-7', (SELECT VorlesungsNr FROM Vorlesung WHERE Vorlesung = 'Sprachtheorie'), (SELECT ProfessorID FROM Professoren WHERE Vorname = 'Peter' AND Nachname = 'Von Matt'), NULL, NULL),
('13-3704-2', (SELECT VorlesungsNr FROM Vorlesung WHERE Vorlesung = 'Sprachtheorie'), (SELECT ProfessorID FROM Professoren WHERE Vorname = 'Peter' AND Nachname = 'Von Matt'), '2021-05-27 08:30', 5.0),
('13-3704-2', (SELECT VorlesungsNr FROM Vorlesung WHERE Vorlesung = 'Literaturgeschichte'), (SELECT ProfessorID FROM Professoren WHERE Vorname = 'Peter' AND Nachname = 'Von Matt'), '2020-03-10 10:00', 4.5),
('12-5776-4', (SELECT VorlesungsNr FROM Vorlesung WHERE Vorlesung = 'Elektrotechnik'), (SELECT ProfessorID FROM Professoren WHERE Vorname = 'Nikola' AND Nachname = 'Tesla'), '2021-05-26 10:00', 5.5),
('14-0556-8', (SELECT VorlesungsNr FROM Vorlesung WHERE Vorlesung = 'Allgemeine Relativitätstheorie'), (SELECT ProfessorID FROM Professoren WHERE Vorname = 'Albert' AND Nachname = 'Einstein'), NULL, NULL),
('09-7270-8', (SELECT VorlesungsNr FROM Vorlesung WHERE Vorlesung = 'Biochemie'), (SELECT ProfessorID FROM Professoren WHERE Vorname = 'Wilhelm Conrad' AND Nachname = 'Röntgen'), '2020-05-25 08:30', 4.5);

In [37]:
-- Inserting Date Vorlesungsbesuche
USE UniDB;

INSERT Vorlesungsbesuche (MatrikelNr, VorlesungsNr)
VALUES
('07-0633-6', 11),
('09-0665-1', 7),
('09-1079-4', 10),
('09-4845-0', 2),
('09-4845-0', 4),
('09-7270-8', 10),
('09-9370-0', 8),
('10-3201-8', 7),
('08-5694-8', 8),
('12-5776-4', 2),
('12-8867-9', 1),
('13-3704-2', 1),
('13-3704-2', 8),
('13-3704-2', 3),
('13-3963-7', 3),
('13-3963-7', 1),
('13-3963-7', 8),
('13-4372-1', 7),
('13-5660-2', 2),
('13-5660-2', 5),
('13-5660-2', 7),
('14-0556-8', 5);