# Testing Script

Scripts to see if the data was inserted correctly.

In [ ]:
-- Test 1
USE UniDB;

SELECT Vorname, Nachname, Raum 
FROM Professoren
WHERE Vorname = 'Peter' AND Nachname = 'von Matt';

In [ ]:
-- Test 2
USE UniDB;

SELECT COUNT(*) AS Anzahl FROM Studenten WHERE Studienbeginn < '2019-01-01';

In [ ]:
-- Test 3
USE UniDB;

SELECT COUNT(AssistentenID) AS Anzahl FROM Assistenten WHERE ProfessorID IS NULL;

In [ ]:
-- Test 4
USE UniDB;

SELECT Vorname, Nachname FROM Assistenten WHERE Vorname LIKE '_r%';

In [ ]:
-- Test 5
USE UniDB;

SELECT MIN(Geburtsdatum) FROM Assistenten;

In [ ]:
-- Test 6
USE UniDB;

SELECT COUNT(*) AS Anzahl FROM Studenten WHERE MatrikelNr LIKE '13%';

In [ ]:
-- Test 7
USE UniDB;

SELECT Vorname, Nachname FROM Studenten WHERE Vorname LIKE '%a%' ORDER BY Nachname DESC;

In [ ]:
-- Test 8
USE UniDB;

SELECT PruefungID, Note FROM Pruefung WHERE Note IS NOT NULL;

In [ ]:
-- Test 9
USE UniDB;

SELECT COUNT(*) AS AnzahlStudenten 
FROM Vorlesungsbesuche 
JOIN Vorlesung ON Vorlesungsbesuche.VorlesungsNr = Vorlesung.VorlesungsNr
WHERE Vorlesung.Vorlesung = 'Kinetik';

In [ ]:
-- Test 10
USE UniDB;

SELECT Vorname, Nachname 
FROM Studenten 
WHERE MatrikelNr IN (SELECT MatrikelNr FROM Vorlesungsbesuche GROUP BY MatrikelNr HAVING COUNT(*) >= 3 );

In [ ]:
-- Test 11
USE UniDB;

SELECT COUNT(*) AS Anzahl
FROM Pruefung 
WHERE Pruefung.ProfessorID = (
    SELECT Professoren.ProfessorID 
    FROM Professoren 
    WHERE Vorname = 'Jacobus' AND Nachname = 'van ''t Hoff'
);

In [ ]:
-- Test 12
USE UniDB;

SELECT COUNT(*) AS Anzahl
FROM Pruefung
WHERE Note = 5.5;

In [ ]:
-- Test 13
USE UniDB;

SELECT COUNT(*) AS Anzahl
FROM Studenten
WHERE Wohnort LIKE '%Bern%' OR Wohnort LIKE '%Basel%';

In [ ]:
-- Test 14
USE UniDB;

SELECT COUNT(*) AS Anzahl
FROM Studenten
WHERE Wohnort IS NULL;

In [ ]:
-- Test 15
USE UniDB;

SELECT TOP 1 Vorname
FROM Assistenten
ORDER BY Geburtsdatum ASC;

In [ ]:
-- Test 16
USE UniDB;

SELECT AVG(Note) AS Durchschnitt
FROM Pruefung
WHERE MatrikelNr = '13-3704-2';

In [21]:
-- Bonus 1
USE UniDB;

SELECT VorlesungID AS Vorgänger, VorlesungID AS Nachfolger
FROM Voraussetzungen vor
INNER JOIN Vorlesung v1 ON vor.VoraussetzungID = VorlesungID
INNER JOIN Vorlesung v2 ON vor.VorlesungID = VorlesungID
WHERE (v2.Vorlesung = 'Radiologie' AND v1.Vorlesung = 'Elektrotechnik')
   OR (v2.Vorlesung = 'Quantenphysik' AND v1.Vorlesung = 'Radiologie');